<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Site</title>

    {% block header_css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}dj_ui/themes/placesocial/css/site.css">
    {% endblock %}

</head>

<body>

    {% block nav %}
    {% endblock %}

    {% block message %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block footer_js %}
        <script type="text/javascript" src="{{STATIC_URL}}dj_ui/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}/dj_node/ajax.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}dj_ui/js/base.js"></script>
    {% endblock %}

</body>
</html>
