<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Site</title>

    {% block header_css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}dj_ui/themes/placesocial/css/site.css">
    {% endblock %}

    {% header js %}
    <script type="text/javascript" src="{{STATIC_URL}}dj_ui/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/dj_node/ajax.js"></script>
    {% endblock $}
</head>

<body>
    <div class="block-header">
        <nav>
            <div class="container">
                <a href="/">
                    <img src="{{STATIC_URL}}dj_ui/themes/placesocial/img/logo.png" class="logo mid"/> <!--"mid" is used to tell silbing inlines to align properly" !-->
                </a>

                {% block header_search %}
                <form class="default inline" action="/search/" metho="GET">
                    <input type="text" class="city-suggest" name="city" placeholder="Destination"/>
                    <input type="submit" class="button" value="Go"/>
                </form>
                {% endblock %}

                <ul class="menu f-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="#" class="open-submenu">Account</a>
                            <ul class="submenu caret">
                                <li>
                                    <a href="{% url 'profile' request.user.display_name_slug %}">Profile</a>
                                </li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'sign-up' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                    <li><a href="{% url 'share-verify' %}" class="button">Share a Place</a></li>
                </ul>
            </div>
        </nav>
    </div>

    {% block message %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        <div class="block-footer">
            <div class="container" >
                <ul class="inline-list">
                    <li>&#169;{% now "Y" %} My Company </li>
                    <li><a href="/terms/">Term and Privacy</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}

    <!--important !-->
    <script type="text/javascript" src="{{STATIC_URL}}dj_ui/js/base.js"></script>
    <style>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,800" rel="stylesheet">
    </style>

</body>
</html>