.stars {
    background: url('/static/fastmojo/star-off.png') no-repeat;
    float:    left;
    height:     24px;
    padding:    8px;
    width:      24px;
    cursor: pointer;
}

.ratings_vote {
    background: url('/static/fastmojo/star-on.png') no-repeat;
}

.comment-item{
    padding-bottom: 15px;
}

.review-item{
    padding-bottom: 15px;
}

.review-item .rating{
    padding-top: 10px;
    padding-bottom: 10px;
}

.rate-value{
    padding-left: 10px;
}