{% extends x_step_parent_template %}

{% load widget_tweaks %}
{% load dj_node_tags %}

 {% block step-parent-content  %}
    {% with model='UserContent' instance=instance %}
        <div class="block-bookmark">
          <ul class="list list-unstyled"></ul>
          <input type="hidden"  class="page" value="1" />
          <button class="more" style="display:none;">More</button>
        </div>

        <script>
            var n2 = new dj_nodeAjax({'type':'GET',
                         'url':'{%url 'bookmark-list' %}?user_id={{request.user.id}}',
                         'selector':'.bookmark-block',
                         'node_type':'list',
                         'render_type':'append'}, null, null);
            n2.ajax();
        </script>
    {% endwith %}
{% endblock %}


